
body{
    background-color:#333333;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    font-family: monospace;
    
  }
  
  header {
    background-color: #99A3CC;
    padding: 30px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: monospace;
    border-style: solid;
    border-width: 5px;
  }
  
  .nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    background-color:  #333;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav a:hover {
    background-color: #111;
  }

 
  footer {
    background-color: #99A3CC;
    padding: 10px;
    text-align: center;
    color: white;
  }

  table{
    color: white;
    font-family: monospace;
    padding: 10px;
    
  }
  #cart {
    color: white;
    font-family: monospace;
    border-style: dotted;
    border-width: 2px;
    border-color: white;
  }

  